# Directories
bin/
notes/
proj/MSVC2013/*/x64
proj/XCode5/*/build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Unnecessary Project Files
*.sdf
*.opensdf
*.suo
*.vcxproj.user

# Linux Backup Files
*.*~

# Mac OSX
.DS_Store
